/**
 * Stylus and plugins
 */

@import 'nib'
global-reset()

/**
 * Setup
 */
@import 'setup/vars'
@import 'setup/colours'
@import 'setup/media'
@import 'setup/fonts'

/**
 * Common
 */
@import 'common/mixins'
@import 'common/type'
@import 'common/ui'
@import 'common/styles'
@import 'common/buttons'

/**
 * Motion
 */
@import 'motion/animation'
@import 'motion/transitions'

/**
 * Content
 */
@import 'content/main'
@import 'content/containers'

/**
 * Vue Components
 */

