/**
 * Stylus and plugins
 */
// @import 'evil-icons'
@import 'nib'
global-reset()

/**
 * Setup
 */
@import 'setup/vars'
@import 'setup/colours'
@import 'setup/media'
@import 'setup/fonts'

/**
 * Common
 */
@import 'common/mixins'
@import 'common/type'
@import 'common/ui'
@import 'common/styles'
@import 'common/buttons'

/**
 * Motion
 */
@import 'motion/animation'
@import 'motion/transitions'

/**
 * Content
 */
@import 'content/main'
@import 'content/containers'

/**
 * Vue Components
 */
@import 'components/carousel'
@import 'components/help'
@import 'components/entrance'
@import 'components/ui-menu'
@import 'components/download'
@import 'components/x-section'
@import 'components/video-player'
@import 'components/room'
@import 'components/potree'
@import 'components/inspector'
@import 'components/model-inspector'
@import 'components/inspector-views'

