/**
 * Parent Containers for wrappers and top level layout control
 */

.application-wrapper
  position relative
  wh(100vw, 100vh)
  overflow hidden

.app_viewport
  position absolute
  left 0
  transition left _speed--fast
  &.view--history
    left _tabwidth
    .menu_sidebar.v--history
      left _tabwidth
      background-image none
  &.view--index
    left -(_tabwidth)
    .menu_sidebar.v--index
      background-image none
      margin-right 0
  .menu_viewport
    fullscreen(relative)
    transition opacity _speed--fast
    opacity 1
    &.v--disabled
      opacity .25


#svg-injector
  display none
  svg
    display none
    visibility hidden


.layout
  width _paddedWidth
  margin 0 "calc(%s + 1em)" %_visible_ui

.page_container
  fullscreen()
  z-index 1
  .page_body, .page_head, .page_foot
    margin 0 auto
    +widescreen()
      max-width _body-width
    +desktop()
      max-width _page-max
    +notebook()
      padding 0 4em
/**
 * Standard page
 */
.page_container[role="overlay"]
  background-color white
  color $txt-black
  h1,h2,h3,h4
    color $red--flat
  .layout
    width calc(100% - 3.5em)
    height inherit
    overflow scroll
  .page_head
    padding-top 5em
  .page_foot
    padding-bottom 5em

[class^="page-"]
  padding-left 4em
  padding-right 4em
