/**
 * Base Layout behaviour
 */

pos(top = 0, left = 0)
  top top
  left left

zero()
  margin 0
  padding 0

/**
 * width / height
 */

wh(width = auto, height = auto)
  width width
  height height


/**
 * vertically centred content
 * apply on parent
 */

v-stack(top = top is defined ? top : center)
  display flex
  flex-flow column
  align-items center
  if top == center
    justify-content top
  if top == true
    justify-content flex-start
  if top == false
    justify-content flex-end

v-align()
  display flex
  align-items center
  justify-content center    

/** or **/

v-centre()
  position absolute
  transform translateY(-50%)
  top 50%

/**
 * ul horizontal distribution
 */

flex-fit()
  align-items stretch
  display flex
  flex-direction row
  justify-content space-around
  flex-wrap nowrap
  li 
    flex 1
    margin 0 1rem
    max-width 33%
    min-width 195px

fillscreen(param = param is defined ? param : absolute)
  position param
  wh(100%, 100%)
  pos(0,0)

fullscreen(param = param is defined ? param : absolute)
  position param
  wh(100vw, 100vh)
  pos(0,0)

/**
 * before and after psudo blocks
 */

before()
  &:before 
    content ''
    position absolute
    top  0
    wh(100%, 100%)
    {block}

after()
  &:after 
    content ''
    position absolute
    top  0
    wh(100%, 100%)
    {block}

/**
 * special section full width mixin with max inner-width
 */
section.layout-full--alternate
  width 100%
  padding 4em
  &:nth-child(even)
    background rgba(0,0,0,.2)
  &:nth-child(odd)
    background rgba(0,0,0,.1)
  .inner-wrap
    width 100%
    max-width 1024
    margin 0 auto
