/**
 * repeated stylez used throughout app
 */

.highlight--red
  color $red--base

/**
 * page split
 */
.interval
  width 100%
  height 3px
  background-color $red--base
  margin 2em 0

/**
 * drop shadow
 */

soft-blur()
  box-shadow 0 0 10px rgba(0,0,0,.2)

/**
 * border
 */

std-border()
  border 1px solid rgba(0,0,0,.2)
  border-radius _radius

dashed()
  border 1px dashed $soften

shadow--text()
  text-shadow 0px 0px 7px rgba(0,0,0,1)

/**
 * badges
 */

// [class^="badge"]
//   padding 0.25em .75em
//   border-radius _radius
//   border 1px solid navy
//   display inline
//   soft-blur()
