/**
 * Base User Interactions
 */

/**
 * std hover
 */

over(col = inherit)
  anim()
  cursor pointer
  &:hover
    color col
    {block}

/**
 * basic show/hide
 */

active()
  display none
  visibility hidden
  &.active
    display block
    visibility visible

/**
 * animated reveal dropdown
 * ps maybe add width to the mix
 */

reveal(speed = _speed, max = 2000px)
  visibility hidden
  overflow hidden
  max-height 0px
  anim(all, speed)
  opacity 0
  &.all 
    visibility visible
    margin-left 0
    max-height max
    opacity 1


