/***
* Colour variables
***/

/**
 * HEX
 */

$black--matt = #231f20

$blue--flat = #384b60
$white--flat = #bdbbbc
$red--flat = #752c31
$orange--flat = #973933
$grey--flat = #999999


$grey--base = #374b5f
$red--base = #752c31
$orange--base = #b64a36
$orange-red = #963832


$font = $white--flat

$txt-black = #1f1d1e


/* SOANE PRACTICE */

$solid--grey = #292929

/**
 * transparent moods
 */

$mute    = rgba(160, 235, 255, 0.4)

$shade  = rgba(0,0,0,.125)
$dark    = rgba(0,0,0,.3)
$darker  = rgba(0,0,0,.5)
$darkest  = rgba(0,0,0,.7)
$brightest = rgba(255,255,255,.85)
$lighter = rgba(255,255,255,.5)
$light   = rgba(255,255,255,.3)
$soften  = rgba(255,255,255,.125)
$touch  = rgba(255,255,255,.05)


/**
 * states
 */

$invalid = red

/**
 * borders
 */

$border_radio = navy