/**
 * Config
 */

_360ratio = .75
_tabwidth = 500px// 20vw // ui menu tab width
_visible_ui = 3.5em // the visible part of a ui-menu tab // or 3.5!?

_paddedWidth = "calc(100% - (2 * %s) - 2em)" % _visible_ui

$half = calc(50% + 2.25em)

/**
 * media queries
 */

_mq-widescreen = 1440px
_mq-desktop = 1280px
_mq-notebook = 1024px
_mq-tablet = 768px
_mq-mobile =  640px
_mq-mobile--landscape =  641px

/**
 * base
 */

_base-font-size = 18px
_base-font-family = Karla
_head-font-family = Droid Serif
// _head-font-family = Karla
_body-font-family = Karla
_font-size--small = .75em

/** page content width **/
_body-width = 768px
_page-max = 601px

/**
 * fonts
 */

_fs--large = 1.2em
_fs--std = 1em
_fs--small = .85em

/**
 * anim
 */

_speed = .3s
_speed--fast = .3s
_speed--std = .4s
_speed--slow = 1s

/**
 * Z-index's
 */

_z_nav = 10
_z_alert = 100

/**
 * borders and finite styling
 */

_radius = 7px
/**
 * Data pngs
 */
$data--stripes = "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAANklEQVQYV2NkIAIwEqHmPyFF/4GGMBJSBLYIlyKwCTCnYFOEogCfSSj+QTYJwwR063AqACkEAGnjBgmbf5VOAAAAAElFTkSuQmCC"
$data--dots = "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVQIW2NkYGD4D8SMQAwGcAY2AbBKDBUAVuYCBQPd34sAAAAASUVORK5CYII="
$data--grid = "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAaklEQVQYV2NkYGAwBuKzQAwC9UA8C4ifQ/n/GaEMkCIfIG6E8iWB9DMgZoQpAOncgmTSfyBbCmQSSAFIEqYTZNIZkE6YSSAGyDi4nUC2CbKb4CphdqK7CaYAbieSb8BuAikASSKblIbsJgCKXBfTNjWx1AAAAABJRU5ErkJggg=="
$data--stripes-white = "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIUlEQVQIW2NkQAL///83ZoTxwRxGxrNgARgHxGZE5oAEAOz3DzVasxQ9AAAAAElFTkSuQmCC"
$data--stripes-light = "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAO0lEQVQYV2NkIAIwElKze/fu/3gVgRS4uroyEjQJZBNWRTATYE7BUISuAKdJ6J6Bm4TNBBTr8CkAKQQA02QXOj4w/E8AAAAASUVORK5CYII="